@import url('https://fonts.googleapis.com/css?familyLato&display=swap');

body{
	font-family: 'Lato', 'Arial', 'sans-serif';
}

p {
  text-align: justify;
  font-family: 'Lato', 'Arial', 'sans-serif';
  margin-right: 45px;
  margin-left: 45px;

}

img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 450px;
	height: 450px;
}

.menu {
	list-style-type: none;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	background-color:black;
}

.menu li {
	font-family: 'Lato', 'Arial', 'sans-serif';
	letter-spacing: 2px;
	color: white;
	display: block;
	padding: 20px 30px;
}

.menu li:hover{
	color: white;
	cursor: pointer;
	color: white;
	padding-bottom: 0px;
	border-bottom: 5px solid gray;
}

.menu a{
	text-decoration: none;
	color: white;

}

button{
	background-color: black;
	color: white;
	font-family: 'Lato', 'Arial', 'sans-serif';
	padding: 5px;
	margin-left: 5px;
	border-color: black;
	border-radius: 25%;
	font-weight: bold;
	cursor: pointer;
}

h1 {
	background-color:black;
	letter-spacing: 2px;
	color: white; 
	padding: 10px;
	margin-top: 20px;
	font-family: 'Lato', 'Arial', 'sans-serif';
	font-size: 20px;
	margin-right: 30px;
  	margin-left: 30px;
}

input {

	margin-right: 45px;
  	margin-left: 45px;

}
