@import url('https://fonts.googleapis.com/css?familyLato&display=swap');
p {
  color: red;  
}
ul {
	list-style-type: none;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
}
h1 {
	background-color:#8fb569;
	color: white; 
	padding: 10px;
	margin-top: 20px;
	font-family: 'Lato', 'Arial', 'sans-serif';
}
ul li {
	font-family: 'Lato', 'Arial', 'sans-serif';
	letter-spacing: 2px;
	background-color:#647589;
	color: white;
	display: block;
	padding: 20px 30px;
}
li:hover{
	background-color:#8fb569;
	color: white;
	cursor: pointer;
	/*border-bottom: 5px solid #647589;*/
}